@model IEnumerable<CacheRedisBaloncesto.Models.Jugador>
@{ViewBag.Title = "JugadoresRedis";}

<h2>JugadoresRedis</h2>

@Html.ActionLink("Volver a productos", "Index", "Jugadores")
<h2 style="color:blueviolet">@ViewBag.Mensaje</h2>

@if (Model != null)
{
    <table class="table table-responsive">
        <tr>
            <th></th>
            <th>Nombre</th>
            <th>Equipo</th>
            <th>Posicion</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td><img src="@item.Imagen" style="width:150px; height: 150px" /></td>
                <td>@item.Nombre</td>
                <td>@item.Equipo</td>
                <td>@item.Posicion</td>
                <td>@Html.ActionLink("Eliminar favoritos", "EliminarFavoritos", new { idjugador = item.IdJugador }, null)</td>
            </tr>
        }
    </table>
}
else
{
    <p><b>¿Aún no has añadido ningun jugador a tu lista de favoritos?</b></p>
}